@import '../globals.scss';

$componentName: $projectName+'-master';

##{$componentName}__detail {
  width: 500px;
  color: white;
  background: transparent;
  height: 70vh;
  overflow: scroll;
  position: fixed;
  left: 210px;
  top: 100px;
  font-family: "Arial";

  &::-webkit-scrollbar {
    display: none;
  }
}

##{$componentName}__heading {
  color: white;
  font-weight: bold;
  padding: 5px;
}

##{$componentName}__icon {
  float: right;
  position: relative;
  top: -20px;
  margin: 5px;
}
##{$componentName}__icon img {
  border-radius: 40px;
  width: 80px;
  height: 80px;
}

##{$componentName}__description {
  padding: 5px;
}

/* somewhat responsive */
@media all and (max-width: 550px) {
  ##{$componentName}__detail {
    position: relative;
    height: 45vh;
    width: 100%;
    left: 0px;
    top: 60px;
    overflow: scroll;
  }
}
